################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Lesson8/1/1/Debug
/Lesson8/1/1/ipch/1-67c58291
/Lesson8/1/1/.vs/1/v14
/Lesson8/1/1/1.vcxproj.filters
/Lesson8/1/1/1.vcxproj
/Lesson8/1/1/1.VC.VC.opendb
/Lesson8/1/1/1.VC.db
